# Education Company Database - Week 7 Assignment

This notebook implements a complete SQLite database for an Education Company with 8 tables:
1. Companies
2. Branches
3. Courses
4. Students
5. Enrollment
6. Logging
7. Teacher
8. Department

## Setup: Import Libraries and Connect to Database

In [ ]:
import sqlite3
import pandas as pd
from datetime import datetime

In [ ]:
# Connect to SQLite database (creates the file if it doesn't exist)
conn = sqlite3.connect('education_company.db')
cursor = conn.cursor()

# Enable Foreign Key constraints
cursor.execute('PRAGMA foreign_keys = ON')
print('Database connected and foreign key constraints enabled.')

## Creation: Create All 8 Tables

In [ ]:
# 1. Create Companies table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Companies (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    headquarters TEXT
)
''')
print('Companies table created.')

In [ ]:
# 2. Create Branches table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Branches (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id INTEGER,
    location TEXT NOT NULL,
    FOREIGN KEY (company_id) REFERENCES Companies(id)
)
''')
print('Branches table created.')

In [ ]:
# 3. Create Courses table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    branch_id INTEGER,
    name TEXT NOT NULL,
    duration INTEGER,
    FOREIGN KEY (branch_id) REFERENCES Branches(id)
)
''')
print('Courses table created.')

In [ ]:
# 4. Create Students table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_id INTEGER,
    name TEXT NOT NULL,
    age INTEGER,
    FOREIGN KEY (course_id) REFERENCES Courses(id)
)
''')
print('Students table created.')

In [ ]:
# 5. Create Enrollment table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Enrollment (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    course_id INTEGER,
    enrollment_date TEXT,
    FOREIGN KEY (student_id) REFERENCES Students(id),
    FOREIGN KEY (course_id) REFERENCES Courses(id)
)
''')
print('Enrollment table created.')

In [ ]:
# 6. Create Logging table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Logging (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    activity TEXT NOT NULL,
    timestamp TEXT NOT NULL
)
''')
print('Logging table created.')

In [ ]:
# 7. Create Teacher table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Teacher (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    branch_id INTEGER,
    name TEXT NOT NULL,
    subject TEXT,
    FOREIGN KEY (branch_id) REFERENCES Branches(id)
)
''')
print('Teacher table created.')

In [ ]:
# 8. Create Department table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Department (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    branch_id INTEGER,
    name TEXT NOT NULL,
    FOREIGN KEY (branch_id) REFERENCES Branches(id)
)
''')
print('Department table created.')
conn.commit()

## Population: Insert 10 Rows into Each Table

In [ ]:
# Insert 10 rows into Companies
companies_data = [
    ('TechEdu International', 'New York, USA'),
    ('Global Learning Corp', 'London, UK'),
    ('Knowledge Hub', 'Tokyo, Japan'),
    ('EduPro Solutions', 'Berlin, Germany'),
    ('Smart Academy', 'Paris, France'),
    ('Future Skills Inc', 'Toronto, Canada'),
    ('Digital Learning Group', 'Sydney, Australia'),
    ('Innovation Education', 'Singapore'),
    ('Premier Institute', 'Dubai, UAE'),
    ('Elite Education Network', 'Mumbai, India')
]

cursor.executemany('INSERT INTO Companies (name, headquarters) VALUES (?, ?)', companies_data)
print(f'Inserted {cursor.rowcount} rows into Companies table.')
conn.commit()

In [ ]:
# Insert 10 rows into Branches
branches_data = [
    (1, 'Manhattan Branch'),
    (1, 'Brooklyn Branch'),
    (2, 'Oxford Street Branch'),
    (2, 'Camden Branch'),
    (3, 'Shibuya Branch'),
    (4, 'Mitte Branch'),
    (5, 'Champs-Élysées Branch'),
    (6, 'Downtown Toronto Branch'),
    (7, 'CBD Sydney Branch'),
    (8, 'Marina Bay Branch')
]

cursor.executemany('INSERT INTO Branches (company_id, location) VALUES (?, ?)', branches_data)
print(f'Inserted {cursor.rowcount} rows into Branches table.')
conn.commit()

In [ ]:
# Insert 10 rows into Courses
courses_data = [
    (1, 'Python Programming', 12),
    (1, 'Data Science Fundamentals', 16),
    (2, 'Web Development', 14),
    (2, 'Machine Learning', 20),
    (3, 'Database Management', 10),
    (4, 'Cybersecurity Basics', 8),
    (5, 'Cloud Computing', 15),
    (6, 'Mobile App Development', 18),
    (7, 'Digital Marketing', 12),
    (8, 'Artificial Intelligence', 24)
]

cursor.executemany('INSERT INTO Courses (branch_id, name, duration) VALUES (?, ?, ?)', courses_data)
print(f'Inserted {cursor.rowcount} rows into Courses table.')
conn.commit()

In [ ]:
# Insert 10 rows into Students
students_data = [
    (1, 'Alice Johnson', 22),
    (1, 'Bob Smith', 24),
    (2, 'Charlie Brown', 21),
    (3, 'Diana Prince', 23),
    (3, 'Edward Norton', 25),
    (4, 'Fiona Green', 20),
    (5, 'George Wilson', 26),
    (6, 'Hannah Lee', 22),
    (7, 'Ian McKellen', 27),
    (8, 'Julia Roberts', 24)
]

cursor.executemany('INSERT INTO Students (course_id, name, age) VALUES (?, ?, ?)', students_data)
print(f'Inserted {cursor.rowcount} rows into Students table.')
conn.commit()

In [ ]:
# Insert 10 rows into Enrollment
enrollment_data = [
    (1, 1, '2024-01-15'),
    (2, 1, '2024-01-15'),
    (3, 2, '2024-01-20'),
    (4, 3, '2024-02-01'),
    (5, 3, '2024-02-01'),
    (6, 4, '2024-02-10'),
    (7, 5, '2024-02-15'),
    (8, 6, '2024-03-01'),
    (9, 7, '2024-03-05'),
    (10, 8, '2024-03-10')
]

cursor.executemany('INSERT INTO Enrollment (student_id, course_id, enrollment_date) VALUES (?, ?, ?)', enrollment_data)
print(f'Inserted {cursor.rowcount} rows into Enrollment table.')
conn.commit()

In [ ]:
# Insert 10 rows into Logging
logging_data = [
    ('Database initialized', '2024-01-01 08:00:00'),
    ('Companies table created', '2024-01-01 08:01:00'),
    ('Branches table created', '2024-01-01 08:02:00'),
    ('Courses table created', '2024-01-01 08:03:00'),
    ('Students enrolled', '2024-01-15 10:00:00'),
    ('New course added', '2024-02-01 09:00:00'),
    ('Teacher assigned', '2024-02-05 11:00:00'),
    ('Department created', '2024-02-10 14:00:00'),
    ('Enrollment completed', '2024-03-10 16:00:00'),
    ('System backup completed', '2024-03-15 22:00:00')
]

cursor.executemany('INSERT INTO Logging (activity, timestamp) VALUES (?, ?)', logging_data)
print(f'Inserted {cursor.rowcount} rows into Logging table.')
conn.commit()

In [ ]:
# Insert 10 rows into Teacher
teacher_data = [
    (1, 'Dr. Sarah Williams', 'Python Programming'),
    (1, 'Prof. Michael Chen', 'Data Science'),
    (2, 'Dr. Emma Watson', 'Web Development'),
    (3, 'Prof. John Davis', 'Machine Learning'),
    (4, 'Dr. Lisa Anderson', 'Database Systems'),
    (5, 'Prof. Robert Taylor', 'Cybersecurity'),
    (6, 'Dr. Maria Garcia', 'Cloud Computing'),
    (7, 'Prof. David Martinez', 'Mobile Development'),
    (8, 'Dr. Jennifer Lee', 'Digital Marketing'),
    (9, 'Prof. James Wilson', 'Artificial Intelligence')
]

cursor.executemany('INSERT INTO Teacher (branch_id, name, subject) VALUES (?, ?, ?)', teacher_data)
print(f'Inserted {cursor.rowcount} rows into Teacher table.')
conn.commit()

In [ ]:
# Insert 10 rows into Department
department_data = [
    (1, 'Computer Science'),
    (1, 'Data Analytics'),
    (2, 'Software Engineering'),
    (3, 'Information Technology'),
    (4, 'Artificial Intelligence'),
    (5, 'Cybersecurity'),
    (6, 'Cloud Technologies'),
    (7, 'Business Intelligence'),
    (8, 'Digital Innovation'),
    (9, 'Research & Development')
]

cursor.executemany('INSERT INTO Department (branch_id, name) VALUES (?, ?)', department_data)
print(f'Inserted {cursor.rowcount} rows into Department table.')
conn.commit()

## Visualization: Query and Display All Tables using Pandas

In [ ]:
# Display Companies table
print('\n=== COMPANIES TABLE ===')
df_companies = pd.read_sql_query('SELECT * FROM Companies', conn)
display(df_companies)

In [ ]:
# Display Branches table
print('\n=== BRANCHES TABLE ===')
df_branches = pd.read_sql_query('SELECT * FROM Branches', conn)
display(df_branches)

In [ ]:
# Display Courses table
print('\n=== COURSES TABLE ===')
df_courses = pd.read_sql_query('SELECT * FROM Courses', conn)
display(df_courses)

In [ ]:
# Display Students table
print('\n=== STUDENTS TABLE ===')
df_students = pd.read_sql_query('SELECT * FROM Students', conn)
display(df_students)

In [ ]:
# Display Enrollment table
print('\n=== ENROLLMENT TABLE ===')
df_enrollment = pd.read_sql_query('SELECT * FROM Enrollment', conn)
display(df_enrollment)

In [ ]:
# Display Logging table
print('\n=== LOGGING TABLE ===')
df_logging = pd.read_sql_query('SELECT * FROM Logging', conn)
display(df_logging)

In [ ]:
# Display Teacher table
print('\n=== TEACHER TABLE ===')
df_teacher = pd.read_sql_query('SELECT * FROM Teacher', conn)
display(df_teacher)

In [ ]:
# Display Department table
print('\n=== DEPARTMENT TABLE ===')
df_department = pd.read_sql_query('SELECT * FROM Department', conn)
display(df_department)

## Summary: Verify All Data

In [ ]:
# Print summary of all tables
tables = ['Companies', 'Branches', 'Courses', 'Students', 'Enrollment', 'Logging', 'Teacher', 'Department']
print('\n=== DATABASE SUMMARY ===')
for table in tables:
    cursor.execute(f'SELECT COUNT(*) FROM {table}')
    count = cursor.fetchone()[0]
    print(f'{table}: {count} rows')

total_rows = sum([cursor.execute(f'SELECT COUNT(*) FROM {table}').fetchone()[0] for table in tables])
print(f'\nTotal rows across all tables: {total_rows}')

In [ ]:
# Close the database connection
conn.close()
print('\nDatabase connection closed.')